
body{
    background-color: #0F0F0F;
    overflow:hidden;
    margin: 0;
}
main{
    margin:auto;
}
.main-text{
    color: white;
    font-size: 4.5vw;
}
.lower-text{
    color:white;
    font-size: 1.5vw;
}
.devider{
    height: 3vw;
}
.lemon-regular {
    font-family: "Lemon", serif;
    font-weight: 200;
    font-style: normal;
  }

.rubik-main {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.rubik-lower {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.rubik-links{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.center-vert{
    margin: 0;
    position: absolute;
    top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.offset-left{
    left: 12.4vw;
}
.left-side{
    height: 100%;
    width: 50%;
    float: left;
}
.right-side{
    height: 100%;
    width: 50%;
    float: right;
}
.links{
    height:20%;
    margin-top: 2%;
    width: 100%;
    position:relative;
    z-index: 10;
}
.links-text{
    color:#CCCCCC;
    font-size: 0.9vw;
}
.space-even{
    display: flex;
    width: 60%;
    margin-left: 2%;
    margin-right: 5%;
    float: right;
    justify-content: space-between;
}
.bg-img{
    height: 105%;
    position:absolute;
    float:left;
    opacity: 50%;
}

.notice{
    bottom:0;
    position: absolute;
    opacity: 20%;
    font-size: 95%;
}

a{
    color: inherit;
    text-decoration: inherit;
    transition: all 0.3s ease-in-out;
}
.description{
    position: absolute;
}
a:hover{
    transform: scale(1.1,1.1);
    text-shadow: 0 0 3px white;
}
.raise{
    position: absolute;
    left:1.4vw;
}
.raise:hover{
    transform: translateY(-0.2vw);
}

.main-name{
    animation-name: bounce_glow_text;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.fade-in{
    animation-name: appear;
    animation-duration: 1s;
    animation-timing-function: ease-in-out
}
.effects{
    bottom: -0.5vw;
    right: -1vw;
    position: absolute;
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: ease-in-out
}
.white-glow{
    position: absolute;
    box-shadow: 0 0 6vw 1vw #FFFFFF;
    transform: translateY(-3vw);
    right:3.3%;
    width: 65%;
}
.overflow{
    overflow: visible;
}
.midnight-glow{
    height: 0;
    width: 0;
    position: absolute;
    transform: translate(-25vw, -10vw);
    border-radius: 0%;
    opacity: 35%;
    box-shadow:
    0 0 10vw 5vw #ffd7ff,
    0 0 15.5vw 10vw #fb00ff,
    0 0 15vw 11vw #611b9e;
}
.bluesky-glow{
    height: 0;
    width: 0;
    position: absolute;
    transform: translate(-10vw, -25vw);
    border-radius: 0%;
    opacity: 40%;
    box-shadow:
    0 0 12vw 5vw #FFFFFF,
    0 0 21vw 10vw #0055ff,
    0 0 10vw 11vw #c3cfff;
}
.sunset-glow{
    height: 0;
    width: 0;
    position: absolute;
    transform: translate(-3vw, -3vw);
    border-radius: 0%;
    opacity: 70%;
    box-shadow:
    0 0 15vw 8vw #FFFFFF,
    0 0 15.5vw 10vw #FFFF00,
    0 0 15vw 11vw #FF00FF;
}
.sunset-glow:hover{
    transform: scale(1.24);
}

@keyframes appear{
    from {opacity: 0%;}
    to {opacity: 100%;}
} 
@keyframes bounce_glow_text {
    0% {text-shadow: 0 0 5vw #000000;}
    5% {text-shadow: 0 0 5vw rgb(255, 255, 255);}
    100% {text-shadow: 0 0 5vw #000000;}
  }
@keyframes rotate{
    from {transform:rotate(0d);}
    to {transform: rotate(360d);}
}