html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: #121212
}

body {
    margin: 0;
    background: black;
}


.page-header {
    padding-bottom: 10px;
    margin: 44px 0 22px;
}

.table-bordered,
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: 1px dashed #334
}
.dropdown-menu, .open>.btn-default.dropdown-toggle,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
 background-color: #333;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
 background-color:#444;
 }
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: #fff;
}
.fa, .dropdown-menu>li>a {
color: #fff !important;
}
.dropdown:hover{
background-color: #444;
}
 .dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  background-color: #444;
  background-image:none
}
.table-hover>tbody>tr:hover,
.table>tbody>tr.active>td,
.table>tbody>tr.active>th,
.table>tbody>tr>td.active,
.table>tbody>tr>th.active,
.table>tfoot>tr.active>td,
.table>tfoot>tr.active>th,
.table>tfoot>tr>td.active,
.table>tfoot>tr>th.active,
.table>thead>tr.active>td,
.table>thead>tr.active>th,
.table>thead>tr>td.active,
.table>thead>tr>th.active {
    background-color: #222
}

.form-control,
output {
    display: block;
    font-size: 14px;
    line-height: 1.6;
    color: #fff;
}

.form-control {
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    background-color: #111;
    background-image: none;
    border: 1px solid #999;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: #444
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #444
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.6;
    color: #aaa;
    text-decoration: none;
    background-color: #111;
    border: 1px solid #333
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    z-index: 2;
    color: #ffffff;
    background-color: #333;
    border-color: #333
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #d35ee2;
    border-color: #d35ee2
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #333;
    border:0;
}

.list-group-item, .list-group-item:last-child{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #222 !important;
    color:#bbb;
    border: 1px solid #333
}

a.list-group-item,
button.list-group-item {
    color: #3097d1
}

a.list-group-item:focus,
a.list-group-item:hover,
button.list-group-item:focus,
button.list-group-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #333
}

.list-group-item-info {
    color: white;
}
.panel-default>.panel-heading{
 background-color: #222;
 color: #fff;
 background-image: none;
 border-color: #444;
}
.panel {
    margin-bottom: 22px;
    border-radius: 4px;
    color:#bbb;
    background-color: #222;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}
.btn-default{
background-color:#333;
background-image: none
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
background-image: none;
background-color:#333;
}
.panel-body {
    padding: 15px;
    color:white;
    background-color: #222;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #333;
    border-top:0;
    color:white;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}
.label-warning {
    background-color: #B73E3E
}
.panel-info {
    border-color: #3097d1
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFE2E2E2", endColorstr="#FFE9E9E9", GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075)
}

.navbar-fixed-bottom,
.navbar-fixed-top,
.navbar-static-top {
    border-radius: 0;
    background: #121212;
    border: 0px;
}

.alert-success {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#c8e5bc));
    background-image: linear-gradient(180deg, #FF0000 0, #F00);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFDFF0D8", endColorstr="#FFC8E5BC", GradientType=0);
    background-repeat: repeat-x;
    border-color: #b2dba1
}

.alert-info {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#96d8fa), to(#3b7999));
    background-image: linear-gradient(180deg, #96d8fa 0, #3b7999);
    background: #3b7999;
    color:#bbb;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#96d8fa", endColorstr="#3b7999", GradientType=0);
    background-repeat: repeat-x;
    border:0px;
}

.panel-info>.panel-heading {
    background-color: #2F95CE;
    color: white;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFD9EDF7", endColorstr="#FFC4E3F3", GradientType=0);
    background-repeat: repeat-x
    background-image: none;
    background-image: none;
    border-bottom: 0;
}

.site-wrapper {
    padding-bottom: 45px;
    background-color: #121212;
}

.footer {
    background-color: #151515;
    bottom: 0;
    color: grey;
    font-size: 10px;
    padding: 8px;
    position: absolute;
    text-align: right;
    width: 100%
}

a {
    color: #3097d1;
}

.page-header {
    margin: 0;
    color: #3097d1;
    border-bottom:0;
}
table{
    color: #466C7F;
}
.table .bg-highlight td {
    background: #f8f8f8;
}